{% extends 'base.html.twig' %}

{% block title %}
	Moviz
{% endblock %}

{% block body %}
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6 d-none d-sm-block">
				<img src="{{ asset('build/images/logo-moviz.png') }}" alt="logo moviz" width="100%" height="auto">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-uppercase">Le site où toute critique est permise</h1>
				<p class="lead">Moviz est un site de critique crée par des passionnés de cinéma non professionnels pour que chacun d'entre vous puissent nous dévoiler votre ressenti sur un film.</p>
				<p>
					<strong>À vos marques. Prêt(e)s ? Critiquez !!</strong>
				</p>
			</div>
		</div>
	</div>

	<h2>Derniers films ajoutés</h2>
	<div class="row text-center ">
		{% for movie in movies %}
				{% include "partials/movie/_movieblock.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
