{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
	<div class="row text-center">
		{% for movie in movies %}
			{% include "partials/movie/_movieblock.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
