<footer>
    <p class="text-center">&copy; Projet Studi, Daniel Gros, tous droits réservés.</p>
	<div class="social-icons d-flex justify-content-center gap-5">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
</footer>

